/* Post List Styles */
.post-list {
  margin: 1rem auto;

  &__item {
    &--card {
      flex: 1;
      display: inline-block;
      margin: 1rem;
    }
  }

  &--excerpt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--card {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}