@import 'styles/variables';

.blog {
  padding: 2rem;

  &__title {
    font-weight: lighter;
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem auto 0;
  }

  hr {
    margin: 0.5rem 0;
  }

  &__posts {
    padding: 0 1rem;
  }

  &__filter-container {
    margin-top: 1rem;
  }

  &__filter {
    font-size: 16px;
    padding: 1rem;
  }


  &__filter-title {
    text-transform: uppercase;
    font-weight: lighter;
  }
}