@import './_variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.post__new {
  margin: 10px 0;
}

.post__header {
  text-align: center;
  margin: 10px 0;
}

.btn {
  margin-right: 5px;
}

.post-item__link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  width: 100%;
}

.post-item__link:active, .post-item__link:hover, .post-item__link:visited {
  color: #333;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: rgba(0,0,0,0.05);
}

.nav__container {
  width: 100%;
  margin-top: 5rem;
}