.splash__title {
  font-size: 3rem;
  font-weight: lighter;
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
}

div .splash__container {
  margin: 35px 0 50px;
}

.home {
  margin-bottom: 40px;
}

.callout__title {
  font-weight: lighter;
  margin: 35px;
  text-transform: uppercase;
  text-align: center;
}

.callout__body {
  width: 80%;
  background-color: rgba(0,0,0,0.05);
  padding: 30px;
  border-radius: 3px;
}