.blog {
  margin-top: 30px;
}

.blog__title {
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog__navigation-title {
  font-weight: lighter;
  text-transform: uppercase;
}

.blog hr {
  margin: 10px 0;
}